.color1 {
  color: white !important;
}

.color2 {
  color: #ca9327;
}

.nav-link:hover {
  color: #ca9327 !important;
}

.espacio{
  height: 40px;
}

.pros{
  background-color: rgba(245,243,240,0.9);
}

.car{
  background-color: transparent;
  border-color: white;
  border-top-left-radius: 500px;
  border-top-right-radius: 500px;
}

#menu {
  background-color: black !important;
}

#menu img {
  width: 150PX;
}

#banner .carousel-inner img {
  max-height: 95vh;
  object-fit: cover;
}

#carousel {
  position: relative;
}

#carousel .overlay {
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
  background-color: rgba(0, 0, 0, 0.5);
}

#carousel .overlay .container,
#carousel .overlay .row {
  height: 60%;
}

#origen img, #cerveza_artesanal img{
  max-height: 100vh;
  object-fit: cover;
}

#acapulco img{
  max-height: 70vh;
  object-fit: cover;
}

#nuestro_nombre img{
  max-height: 80vh;
  object-fit: cover;
  filter: grayscale(17%);
}
